cam_param/*
**/__pycache__/*
**.pyc
*.mp4
*.png
*.jpg
data/*
state/*
video/*
data_Icra/*
grasp/*
replay/*
*.pyc
.vscode
paradex/cache
model/*
*.avi
model/*paradex/model/*.jit
paradex/model/*.pth
paradex/model/*.jit
paradex/model/*.pth
paradex/pose_utils/dex-retargeting
tmp*
tmp/*
objoutput
*.obj
*.ply
*.npy
debug
paradex/pose_utils/dex_retargeting
*.jit
*.pt
*.jpeg
*.pkl
.vscode/settings.json
thirdparty