cam_param/*
**/__pycache__/*
**.pyc
*.mp4
*.png
*.jpg
data/*
state/*
video/*
data_Icra/*
grasp/*
replay/*
*.pyc
.vscode
paradex/cache
model/*
model/*paradex/model/*.jit
paradex/model/*.pth
paradex/model/*.jit
paradex/model/*.pth
