**/__pycache__/*
**.pyc

*.png
*.jpeg
*.jpg

*.mp4
*.mov
*.avi

config/current/*

data/*
state/*
video/*
grasp/*
replay/*
*.pyc
.vscode
paradex/cache
model/*
model/*paradex/model/*.jit
paradex/model/*.pth
paradex/model/*.jit
paradex/model/*.pth
paradex/pose_utils/dex-retargeting
tmp*
tmp/*
objoutput
# *.obj
*.ply
# *.npy
debug
paradex/pose_utils/dex_retargeting
template
paradex/model/*.pt
obj_output
template_mesh
.vscode
trash
thirdparty/EfficientLoFTR/ckpts/*.ckpt
thirdparty/EfficientLoFTR/ckpts/*.ckpt
build/lib/paradex
.vscode/settings.json