<robot name="combined_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="arm_file" default="arm1.urdf"/>
  <xacro:arg name="hand_file" default="hand1.urdf"/>
  <xacro:arg name="parent_link" default="arm_end_link"/>
  <xacro:arg name="child_link" default="hand_base_link"/>
  <xacro:arg name="xyz" default="0 0 0"/>
  <xacro:arg name="rpy" default="0 0 0"/>

  <xacro:include filename="${arm_file}" />
  <xacro:include filename="${hand_file}" />

  <joint name="arm_to_hand" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${child_link}"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

</robot>
